/* -------------ABOUT US CSS---------- */

#contact-us {
    padding: 20px 10%;
    /* background-color: #f4f4f4; */
  }

  label{
    display: block;
  }
  
  #contact-us h2 {
    text-align: center;
    color: #d42f00; /* Taekwondo red color */
  }
  
  .contact-info, .contact-form, .google-map {
    margin: 20px 0;
  }
  
  .contact-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-info li {
    margin: 10px 0;
  }
  
  .contact-form input, .contact-form textarea {
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: #d42f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #b12500;
  }
  
  .google-map iframe {
    width: 100%;
    max-width: 600px;
    height: 350px;
    border: none;
  }
