/* ------------MEMBERSHIP CSS----------- */

body{
   
}

.coming-soon h1{
    color: var(--color-white);
    font-size: 8rem;
    padding-top: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--light-red);
    padding: 30px 4%;
}