.team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding: 0 4%;
    
}


.instructers-heading{
    
    margin-top: 7rem;
    font-size: 2.2rem;
   text-align: center;
   text-transform: capitalize;
}

.instructer-card{
    width: 300px;
    display: flex;
}

.instructer-image{
    width: 300ox;
    height: 300px;
    border-radius: 50%;
}

.instructer-image img{
    object-fit: contain;
}

.instructer-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.instructer-socials i:hover{
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 5px;
   
}
